{% set localeUser = app.request.getLocale() ? app.request.getLocale() : locale %}

<div class="topbar-v3">
    <div class="search-open">
        <div class="container">
            <input type="text" class="form-control" placeholder="Search">
            <div class="search-close"><i class="icon-close"></i></div>
        </div>    
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <!-- Topbar Navigation -->
                <ul class="list-inline right-topbar pull-right">
                    <li class="{{ app.request.getLocale() == 'fr' ? 'active' : '' }}" style="width:110px;">
                        <a href="{{ path('changeLang',{'locale': 'fr'})}}">
                            <span class="flag-icon flag-icon-fr"></span> {{'french'|trans}}</a>
                            {% if app.request.getLocale() == 'fr' %}
                            <i class="fa fa-check"></i>
                        {%endif%}
                    </li>
                    <li >
                        <a href="{{ path('changeLang',{'locale': 'en'})}}">
                            <span class="flag-icon flag-icon-gb"></span> {{'english'|trans}}</a>
                            {% if app.request.getLocale() == 'en' %}
                            <i class="fa fa-check"></i>
                        {%endif%}
                    </li>  
                    {% if (app.user) %}
                        <li><a href="{{ path('logout') }}">{{'Logout'| trans }}</a></li>
                        {%endif%}
                </ul><!--/end left-topbar-->
            </div>
        </div>
    </div><!--/container-->
</div>
<!-- End Topbar v3 -->

<!-- Navbar -->
<div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if app.user %}
            <a class="navbar-brand" href="{{ path('admin_panel') }}">
                <img id="logo-header" src="{{ asset('assets/img/logo.png') }}" alt="Logo" style="width:170px; height: 85px; padding-bottom: 23px; margin-top: -11px;">
            </a>
            {% else %}
                <a class="navbar-brand" href="{{ path('home') }}">
                <img id="logo-header" src="{{ asset('assets/img/logo.png') }}" alt="Logo" style="width:170px; height: 85px; padding-bottom: 23px; margin-top: -11px;">
            </a>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            {% if app.user %}
                <ul class="nav navbar-nav">
                    <!-- Pages -->
                    <li class="">
                        <a href="{{ path('admin_panel') }}">
                            Prouits
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Contact
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('contacts') }}">En cours</a></li>
                            <li><a href="{{ path('contacts_history') }}">Historique</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Catégorie
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('categories') }}">Gestion des catégories</a></li>
                            <li><a href="{{ path('sub_categories') }}">Gestion des sous-catégories</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <!-- Pages -->
                    <li class="link1">
                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Accueil
                        </a>
                    </li>
                    <!-- End Pages -->
                    <!-- Promotion -->
                    <li class="link2">
                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Nos services
                        </a>
                    </li>
                    <!-- End Promotion -->

                    <!-- Gifts -->
                    <li class="link3">
                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Nos produits
                        </a>
                    </li>

                    <li class="link4">
                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Contact
                        </a>
                    </li>
                </ul>
            {% endif %}
            <!-- End Nav Menu -->
        </div>
    </div>    
</div>  

