{% form_theme form 'hsTradingFrontEndBundle:Contact:fields.html.twig' %}

{% set formId = form.vars.id~'Form' %}
{{ form_start(form, {'attr' : {'class': 'sky-form', 'id' : formId}}) }}
{{ form_errors(form) }}
<fieldset>
    <div class="row">
        <section class="col col-6 col-xs-4">
            <label class="select">
                {{ form_row(form.id_category) }}
                <i></i>
            </label>
        </section>
        <section class="col col-6 col-xs-4">
            <label class="select">
                {{ form_row(form.id_category_details) }}
                <i></i>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-md-12">
            <label class="input {{ form_errors(form.designation)|trim ? 'state-error' : '' }}">
                <i class="icon-prepend fa fa-envelope"></i>
                {{ form_row(form.designation) }}
            </label>
            {%if form.designation.vars.required %}
                <div class="note note-success">{{ 'field_required' |trans}}</div>
            {%endif %}
        </section>
        <section class="col col-md-12">
            <label class="input {{ form_errors(form.desigeng)|trim ? 'state-error' : '' }}">
                <i class="icon-prepend fa fa-envelope"></i>
                {{ form_row(form.desigeng) }}
            </label>
            {%if form.desigeng.vars.required %}
                <div class="note note-success">{{ 'field_required' |trans}}</div>
            {%endif %}
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            <label class="input {{ form_errors(form.description)|trim ? 'state-error' : '' }}">
                <i class="icon-prepend fa fa-user"></i>
                {{ form_row(form.description) }}
            </label>
            {%if form.description.vars.required %}
                <div class="note note-success">{{ 'field_required' |trans}}</div>
            {%endif %}
        </section>
        <section class="col col-6">
            <label class="input {{ form_errors(form.desceng)|trim ? 'state-error' : '' }}">
                <i class="icon-prepend fa fa-user"></i>
                {{ form_row(form.desceng) }}
            </label>
            {%if form.desceng.vars.required %}
                <div class="note note-success">{{ 'field_required' |trans}}</div>
            {%endif %}
        </section>
        <section class="col col-6">
            <label class="input {{ form_errors(form.price)|trim ? 'state-error' : '' }}">
                <i class="icon-prepend fa fa-envelope"></i>
                {{ form_row(form.price) }}
            </label>
            {%if form.price.vars.required %}
                <div class="note note-success">{{ 'field_required' |trans}}</div>
            {%endif %}
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            <label class="input {{ form_errors(form.img)|trim ? 'state-error' : '' }}">
                {{ form_row(form.img) }}
            </label>
            {%if form.img.vars.required %}
                <div class="note note-success">{{ 'field_required' |trans}}</div>
            {%endif %}
        </section>
    </div>
</fieldset>
{{ form_end(form) }}
{{ form_rest(form) }}