<html lang="fr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/myCss2.css') }}">
    </head>

    <body>
        <div class="col-md-6 col-xs-3 col-xs-offset-0">
            <div style="margin-bottom: 100px;">
                <img style="float: right; margin: 15px 150px; width: 150px" class="deviceWidth" src="{{ logo }}" alt="logo">
            </div><br>
            <div style="margin-top:120px; margin-left: 500px;" class="col-md-6 col-md-offset-1 col-xs-3 col-xs-offset-0">

                {#                <div style="padding-left: 50px; padding-top: 30px;">#}
                <p class="mail-paragraph1">
                    {{ data.lastname is defined and data.firstname is defined ?  data.lastname|capitalize~' '~data.firstname|capitalize : '' }} vient de vous envoyer un message de contact.<br>
                </p>

                <p class="mail-paragraph1">
                    Société: {{ data.company }}
                </p>

                <p class="mail-paragraph1">
                    Email: {{ data.mail }}
                </p>

                <p class="mail-paragraph1">
                    Pays: {{ data.country }}
                </p>

                <p class="mail-paragraph1">
                    Message: {{ data.message }}
                </p>
            </div>
            <!--Start Weekly Prize-->
            <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="padding-top: 50px">
                <tr>
                    <td width="100%" bgcolor="#a5d1da" class="center" style="padding-bottom: 20px;">
                        <table  border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td valign="top" style="padding: 20px 10px " class="center">
                                    <a href=""><img width="32" hight="32" src="{{ facebook|raw }}"></a>
                                </td>
                            </tr>
                        </table>
                        <table  border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td  class="center" style="font-size: 16px; color: #ffffff; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
                                    {{'contact'|trans}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--Weekly Prize-->
            <!-- Footer -->
            <table width="700"  border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"  >
                <tr>
                    <td  bgcolor="#ffffff" class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 50px 0px 50px; " >
                        Copyright © HS Trading 2016
                    </td>
                </tr>
            </table>
            <!--End Footer-->
        </div>
    </body>
</html>