{% extends "::base.html.twig" %}

{% block content %}
    <div class="div1">
        <!--=== Slider ===-->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="{{ 'Agroalimentaire'|trans }}">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/pasta.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            <strong>{{ 'Agroalimentaire'|trans }}</strong><br>
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="{{'Produits alimentaires'|trans}} {{'Bio'|trans}}">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/oo.jpg')}}" alt="darkblurbg"  data-bgfit="cover" data-bgposition="" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="140"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            {{'Produits alimentaires'|trans}} <strong>{{'Bio'|trans}}</strong> 
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="{{'Produits'|trans}} {{'Artisanaux'|trans}}">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/pa.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="top left" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="5"
                             data-y="130"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            {{'Produits'|trans}} <strong>{{'Artisanaux'|trans}}</strong>
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title=" {{'Produits'|trans}} {{'Hygiéniques'|trans}}">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/ph.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="top left" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="5"
                             data-y="100"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            {{'Produits'|trans}} <strong>{{'Hygiéniques'|trans}}</strong>
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="{{'Produits'|trans}} {{'Cosmétiques'|trans}} {{'Bio'|trans}}">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/bicos.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="top left" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="5"
                             data-y="130"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            {{'Produits'|trans}} {{'Cosmétiques'|trans}} <strong>{{'Bio'|trans}}</strong>
                        </div>
                    </li>

                    <!-- END SLIDE -->

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>            
            </div>
        </div>
    </div>

    <div class="div2">
        <div class="container content-sm">
            <div class="row">
                <div class="heading heading-v1 margin-bottom-20">
                    <h2>{{ 'our_services'|trans }}</h2>
                </div>
                <div class="row text-center margin-top-20">
                    <div class="col-md-4">
                        <img class="image-md margin-bottom-20" src="{{ asset('img/cargo-ship.png') }}" alt="">
                        <h1 class="title-v3-md margin-bottom-10">{{ 'features_title_1'|trans }}</h1>
                        <p>{{ 'features_text_1'|trans }}</p>
                    </div>
                    <div class="col-md-4">
                        <img class="image-md margin-bottom-20" src="{{ asset('img/teamwork.png') }}" alt="">
                        <h1 class="title-v3-md margin-bottom-10">{{ 'features_title_2'|trans }}</h1>
                        <p>{{ 'features_text_2'|trans }}</p>
                    </div>
                    <div class="col-md-4">
                        <img class="image-md margin-bottom-20" src="{{ asset('img/delivery-truck.png') }}" alt="">
                        <h1 class="title-v3-md margin-bottom-10">{{ 'features_title_5'|trans }}</h1>
                        <p>{{ 'features_text_5'|trans }}</p>
                    </div>
                </div>
                <div class="row text-center margin-bottom-60 margin-top-20 col-md-offset-3">
                    <div class="col-md-4">
                        <img class="image-md margin-bottom-20" src="{{ asset('img/container.png') }}" alt="">
                        <h1 class="title-v3-md margin-bottom-10">{{ 'features_title_4'|trans }}</h1>
                        <p>{{ 'features_text_4'|trans }}</p>
                    </div>
                    <div class="col-md-4">
                        <img class="image-md margin-bottom-20" src="{{ asset('img/deal.png') }}" alt="">
                        <h1 class="title-v3-md margin-bottom-10">{{ 'features_title_3'|trans }}</h1>
                        <p>{{ 'features_text_3'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>


        <!--=== Parallax Backgound ===-->
        <div class="bg-image-v2 bg-image-v2-dark parallaxBg1">
            <div class="container">
                <div class="heading heading-v1 margin-bottom-20">
                    <h2 class="text-uppercase">{{ 'hs_trading'|trans }}</h2>
                </div>
                <div class="headline-center-v2 margin-bottom-10">
                    <p style="font-size: 16px;">{{ 'description1'|trans }}</p><br>
                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                    <p style="font-size: 15px;">{{ 'description2'|trans }}</p><br>
                    <p style="font-size: 15px;">{{ 'description3'|trans }}</p>
                </div><!--/Headline Center V2-->   
            </div><!--/container-->
        </div>
        <!--=== End Parallax Backgound ===-->
    </div> 
    <div class="div3">
    </div>
    <div class="div4">
        <div class="container content-md">
            <div class="heading heading-v1 margin-bottom-20">
                <h2>{{ 'our_products'|trans }}</h2>
            </div>

            <!--=== Illustration v2 ===-->
            <div class="illustration-v2 margin-bottom-60">
                <div class="customNavigation margin-bottom-25">
                    <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
                    <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
                </div>
                <ul class="list-inline owl-slider">
                    <li class="item">
                        <div class="product-img">
                            <img class="full-width img-responsive" src="{{ asset('assets/img/pastap.jpg')}}" alt="">
                            <a class="product-review" id="agro" name="Produits Agroalimentaires" style="cursor: pointer">{{ 'view_products'|trans }}</a>
                        </div>
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price">{{ 'Agroalimentaire'|trans }}</h4>
                                    <span class="gender">{{ 'Agro_Products'|trans }}</span>
                                </div>    
                            </div>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img class="full-width img-responsive" src="{{ asset('assets/img/oop.jpg')}}" alt="">
                            <a class="product-review" id="pab" name="Produits Alimentaires Bio" style="cursor: pointer">{{ 'view_products'|trans }}</a>
                        </div>
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price">{{ 'Produits alimentaires'|trans }} {{ 'Bio'|trans }}</h4>
                                    <span class="gender">{{ 'Bio_food_products'|trans }}</span>
                                </div>    
                            </div>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img class="full-width img-responsive" src="{{ asset('assets/img/artisap.jpg')}}" alt="">
                            <a class="product-review" id="par" name="Prouits Artisanaux" style="cursor: pointer">{{ 'view_products'|trans }}</a>
                        </div>
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price">{{ 'Produits'|trans }} {{ 'Artisanaux'|trans }}</h4>
                                    <span class="gender">{{ 'artisan_products'|trans }}</span>
                                </div>    
                            </div>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img class="full-width img-responsive" src="{{ asset('assets/img/cosp.jpg')}}" alt="">
                            <a class="product-review" id="pcb" name="Produits Cosmétiques Bio" style="cursor: pointer">{{ 'view_products'|trans }}</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price">{{ 'Produits'|trans }} {{ 'Cosmétiques'|trans }} {{ 'Bio'|trans }}</h4>
                                    <span class="gender">{{ 'p_c_products'|trans }}</span>
                                </div>    
                            </div>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img class="full-width img-responsive" src="{{ asset('assets/img/php.jpg')}}" alt="">
                            <a class="product-review" id="ph" name="Produis Hygiéniques" style="cursor: pointer">{{ 'view_products'|trans }}</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price">{{ 'Produits'|trans }} {{ 'Hygiéniques'|trans }}</h4>
                                    <span class="gender">{{ 'p_h_products'|trans }}</span>
                                </div>    
                            </div>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img class="full-width img-responsive" src="{{ asset('assets/img/cuisp.jpg')}}" alt="">
                            <a class="product-review" id="divers" name="Ustensiles de cuisine et Robinetterie" style="cursor: pointer">{{ 'view_products'|trans }}</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price">{{ 'divers'|trans }}</h4>
                                </div>    
                            </div>    
                        </div>
                    </li>
                </ul>
            </div> 
        </div> 
    </div>


    <div class="div5">
        <div class="service-info margin-bottom-60" style="">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h2>{{'more_informations'| trans }}</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <!-- Accordion v1 -->
                    <div class="panel-group acc-v1 box-shadow shadow-effect-2" id="accordion-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b> <h2 class="panel-title" style='text-align: center;'>
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One" aria-expanded="false">
                                            {{ 'contact'|trans }}
                                        </a>
                                    </h2>
                                </b>
                            </div>
                            <div id="collapse-One" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        {{ render(path('contact')) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#    <div class="col-md-8 col-md-offset-2">
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                <b> <h2 style="text-align: center">{{ 'contact'|trans }}</h2></b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-One" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ render(path('contact')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('bundles/hstradingfrontend/js/Home.js') }}"></script>
    <script type="text/javascript">

        $(function () {
            var oHome = new Home();

        });
    </script>
{% endblock javascripts %}
