{% extends "::base.html.twig" %}

{% block content %}
    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/img/pasta.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="100"
                         data-speed="1500"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endeasing="Power1.easeIn"                        
                         data-endspeed="300">
                        The New <br>
                        <strong>Collection</strong><br>
                        is here
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/img/toma.jpg')}}" alt="darkblurbg"  data-bgfit="cover" data-bgposition="" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch3 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="140"
                         data-speed="1500"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endeasing="Power1.easeIn"                        
                         data-endspeed="300">
                        Latest <strong>Fashion</strong> Trends
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch4 sft"
                         data-x="center"
                         data-hoffset="-14"
                         data-y="210"
                         data-speed="1400"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        Cras non dui et quam auctor pretium.<br>
                        Aenean enim tortr, tempus et iteus m
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('assets/img/cous.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="top left" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch3 sft start"
                         data-x="-140"
                         data-hoffset="5"
                         data-y="130"
                         data-speed="1500"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endeasing="Power1.easeIn"                        
                         data-endspeed="300">
                        <strong>Luxury</strong> Watches
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch4 sft"
                         data-x="-100"
                         data-hoffset="0"
                         data-y="210"
                         data-speed="1400"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        lectus. Cras non dui et quam auctor.<br>
                        Aenean enim tortor, tempus et im
                    </div>
                </li>
                <!-- END SLIDE -->

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!--=== End Slider ===-->
    <div class="div1">
        <div class="container content-md">
            <div class="heading heading-v1 margin-bottom-20">
                <h2>Featured products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio elit, ultrices vel cursus sed, placerat ut leo. Phasellus in magna erat. Etiam gravida convallis augue non tincidunt. Nunc lobortis dapibus neque quis lacinia. Nam dapibus tellus sit amet odio venenatis</p>
            </div>

            <!--=== Illustration v2 ===-->
            <div class="illustration-v2 margin-bottom-60">
                <div class="customNavigation margin-bottom-25">
                    <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
                    <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
                </div>

                <ul class="list-inline owl-slider">
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        </div>
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Men</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Women</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$60.00</span>
                                    <span class="title-price line-through">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                            <div class="shop-rgba-red rgba-banner">Out of stock</div>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Men</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                            <div class="shop-rgba-dark-green rgba-banner">New</div>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Women</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Women</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                </ul>
            </div> 
        </div> 
    </div> 
    <!--=== End Illustration v2 ===-->
    <div class="div2" style="height: 400px; color: red;">
        Hello {{ name }}!
    </div>
    <div class="div4" style="height: 400px;">
        Hello {{ name }}!
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('bundles/hstradingfrontend/js/Home.js') }}"></script>
    <script type="text/javascript">

        $(function () {
            var oHome = new Home();

        });
    </script>
{% endblock javascripts %}
