{% extends "::base.html.twig" %}

{% block content %}
    <div class="div1">
        <!--=== Slider ===-->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/pasta.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            The New <br>
                            <strong>Collection</strong><br>
                            is here
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/toma.jpg')}}" alt="darkblurbg"  data-bgfit="cover" data-bgposition="" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch3 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="140"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            Latest <strong>Fashion</strong> Trends
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption revolution-ch4 sft"
                             data-x="center"
                             data-hoffset="-14"
                             data-y="210"
                             data-speed="1400"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Cras non dui et quam auctor pretium.<br>
                            Aenean enim tortr, tempus et iteus m
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/img/cous.jpg')}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="top left" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch3 sft start"
                             data-x="-140"
                             data-hoffset="5"
                             data-y="130"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"                        
                             data-endspeed="300">
                            <strong>Luxury</strong> Watches
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption revolution-ch4 sft"
                             data-x="-100"
                             data-hoffset="0"
                             data-y="210"
                             data-speed="1400"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            lectus. Cras non dui et quam auctor.<br>
                            Aenean enim tortor, tempus et im
                        </div>
                    </li>
                    <!-- END SLIDE -->

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>            
            </div>
        </div>
    </div>
    <div class="div2">
        <!--=== Service Block ===-->
        <div class="container content-sm">
            <div class="row">
                <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
                    <i class="rounded-x icon-link"></i>
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Fully responsive</h1>
                    <p>At vero eos et accusato odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                </div>
                <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
                    <i class="rounded-x icon-paper-plane"></i>
                    <h2 class="title-v3-md text-uppercase margin-bottom-10">Modern design</h2>
                    <p>At vero eos et accusato odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                </div>
                <div class="col-md-4 content-boxes-v6">
                    <i class="rounded-x icon-refresh"></i>
                    <h2 class="title-v3-md text-uppercase margin-bottom-10">Powerful slides</h2>
                    <p>At vero eos et accusato odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                </div>
            </div><!--/row-->
        </div><!--/container-->
        <!--=== End Service Block ===-->
        <!--=== Parallax Backgound ===-->
        <div class="bg-image-v2 bg-image-v2-dark parallaxBg1">
            <div class="container">
                <div class="headline-center-v2 margin-bottom-10">
                    <h2>Unify is a clean and fully responsive incredible template</h2>
                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et qua s molestias excepturi vehicula sem ut volutpat. Ut non libero magna fusce co.</p><br><br>
                    <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">Download Now</button>
                </div><!--/Headline Center V2-->   
            </div><!--/container-->
        </div>
        <!--=== End Parallax Backgound ===-->
    </div> 
    <div class="div3">
    </div>
    <div class="div4">
        <div class="container content-md">
            <div class="heading heading-v1 margin-bottom-20">
                <h2>Featured products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio elit, ultrices vel cursus sed, placerat ut leo. Phasellus in magna erat. Etiam gravida convallis augue non tincidunt. Nunc lobortis dapibus neque quis lacinia. Nam dapibus tellus sit amet odio venenatis</p>
            </div>

            <!--=== Illustration v2 ===-->
            <div class="illustration-v2 margin-bottom-60">
                <div class="customNavigation margin-bottom-25">
                    <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
                    <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
                </div>

                <ul class="list-inline owl-slider">
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        </div>
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Men</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Women</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$60.00</span>
                                    <span class="title-price line-through">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                            <div class="shop-rgba-red rgba-banner">Out of stock</div>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Men</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                            <div class="shop-rgba-dark-green rgba-banner">New</div>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Women</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('assets/img/blog/09.jpg')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        </div> 
                        <div class="product-description product-description-brd">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                    <span class="gender text-uppercase">Women</span>
                                    <span class="gender">Suits - Blazers</span>
                                </div>    
                                <div class="product-price">
                                    <span class="title-price">$95.00</span>
                                </div>
                            </div>    
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>    
                        </div>
                    </li>
                </ul>
            </div> 
        </div> 
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('bundles/hstradingfrontend/js/Home.js') }}"></script>
    <script type="text/javascript">

        $(function () {
            var oHome = new Home();

        });
    </script>
{% endblock javascripts %}
