{% block stylesheets %}
    <!-- Web Fonts -->
    {#            <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>#}

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ asset('assets/css/headers/header-v5.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/footers/footer-v4.css') }}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/animate.css') }}">    
    <link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}">    
    <link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css') }}">    
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
{% endblock %}

{% block content %}
    <script>
        var url = "{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/plugins/smoothScroll.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/js/custom.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/js/shop.app.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/js/plugins/cube-portfolio/cube-portfolio-4-ns.js') }}";
        $.getScript(url);
    </script>
    <script>
        var url = "{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/plugins/smoothScroll.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/js/custom.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/js/shop.app.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.js') }}";
        $.getScript(url);
        var url = "{{ asset('assets/js/plugins/cube-portfolio/cube-portfolio-4-ns.js') }}";
        $.getScript(url);
    </script>
    <!--=== Cube-Portfdlio ===-->
    {% set local = app.request.getLocale() %}
    <div class="cube-portfolio container margin-bottom-60 col-md-12">
        <div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                | <div class="cbp-filter-item-active cbp-filter-item" data-filter="*"> {{ "all_products" | trans }} </div> |
                {% for oField in cat %}
                    {% if local == 'fr' %}
                        | <div data-filter=".{{ oField.label|replace(' ','-')|replace("'",'-') }}" class="cbp-filter-item"> {{ oField.label }} </div> |
                    {% else %}
                        | <div data-filter=".{{ oField.labeleng|replace(' ','-')|replace("'",'-') }}" class="cbp-filter-item"> {{ oField.labeleng }} </div> |
                    {% endif %}
                {% endfor %}
            </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
            {% for oField in products %}
                {% if local == 'fr' %}
                <div class="cbp-item {{ oField.sub_category_fr|replace(' ','-')|replace("'",'-') }}">
                    {% else %}
                <div class="cbp-item {{ oField.sub_category_eng|replace(' ','-')|replace("'",'-') }}">
                    {% endif %}
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{ oField.img }}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    {% if local == 'fr' %}
                                        <div class="cbp-l-grid-agency-title">{{ oField.designation }}</div>
                                        <div class="cbp-l-grid-agency-desc">{{ oField.description }}</div>
                                    {% else %}
                                        <div class="cbp-l-grid-agency-title">{{ oField.desigeng }}</div>
                                        <div class="cbp-l-grid-agency-desc">{{ oField.desceng }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div><!--/end Grid Container-->
    </div>    
    <!--=== End Cube-Portfdlio ===-->
{% endblock%}

{#{% block javascripts %}
   

{% endblock javascripts %}#}